.footer-contr{
    background-color: #fdfdfd;
    border-top:1px solid #ababab;
    margin-top: 2em;
    padding: 2em;
}
.link-contr{
    display: flex;
}
.link-text{
    color: #0868c1;
    margin: 1em !important;
}
.copyright-text{
    margin-top: 2em;
    color: #ababab;
}